@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Library Management Light Project</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>If you want to give suggestion or anything that would help this project in the future, please email me at yogicrhama@gmail.com</p>
</div>
